
.container{
    margin-left: 3.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container{
    display: flex;
    height: 30rem;
}

.eye-grid-toggle{
    height: 2vw;
    width: 2vw;
    border-radius: 1vw;
    border: none;
    font-size: 1rem;
    margin-right: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--display-text);
    background: linear-gradient(279.28deg, #F2F3F6 0%, #E5E6EC 132.41%);
    box-shadow:  .25rem .25rem 1rem rgba(36, 65, 93, 0.302),
             -.25rem -.25rem 1rem #ffffff;
}

.eye-grid-toggle:hover{
    color: var(--primary1)
}

.eye-toggle-down{
    background: linear-gradient(279.28deg, #F2F3F6 100%, #E5E6EC 0%);
    box-shadow: inset .25rem .25rem 1rem rgba(36, 65, 93, 0.302),
                inset -.25rem -.25rem 1rem #ffffff;
}



.image-comp{
    position: relative;
    display: inline-block;
    
}

.img{
    display: block;
    width: auto;
    height: 30rem;
}

.grid{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-family: var(--font);

    /* grid stying */
    visibility: visible;
    display: grid;
    grid-template-areas: 
        'title title'
        'yAxis graph'
        'xAxis xAxis'
        'source source';
}

.grid-extraRow{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* grid stying */
    visibility: visible;
    display: grid;
    grid-template-areas: 
        'title title'
        'xAxisT xAxisT'
        'yAxis graph'
        'xAxis xAxis'
        'source source';
}

.grid-extraCol{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* grid stying */
    visibility: visible;
    display: grid;
    grid-template-areas: 
        'title title title'
        'yAxis graph points'
        'xAxis xAxis xAxis'
        'source source source';
}

.title{
    grid-area: title;
    color: white;
    text-align: center;
    background-color: var(--graph4);
    opacity: .75;
}

.yAxis{
    grid-area: yAxis;
    color: white;
    text-align: center;
    background-color: var(--graph1);
    opacity: .75;
}

.graph{
    grid-area: graph;
    color: white;
    text-align: center;
    background-color: var(--graph3);
    opacity: .75;
}

.xAxis{
    grid-area: xAxis;
    color: white;
    text-align: center;
    background-color: var(--graph2);
    opacity: .75;
}

.source{    
    grid-area: source;
    color: white;
    text-align: center;
    background-color: var(--graph5);
    opacity: .65;
}

.points{
    grid-area: points;
    color: white;
    text-align: center;
    background-color: var(--graph5);
    opacity: .75;
}

.xAxisT{
    grid-area: xAxisT;
    color: white;
    text-align: center;
    background-color: var(--graph2);
    opacity: .75;
}

